header.Header-bar
  nav.nav-bar.grid-align-justify
    .nav-logo-box
      a(href="/")
        h1.nav-logo Pizppy
      img.logo-rotate(src='./../pizza images/pizza-Logo.png' alt='rotating logo')
    .nav-search-bar-div
      ion-icon.nav-search-bar-pizza-logo(name='pizza')
      input.nav-search-bar(type='search' placeholder='find your fevorate pizzaa 😋')
    .nav-btn-div.grid-align-justify
      a.nav-btn.btn-donate(href='/donate') Donate
      a.nav-btn.btn-sign-in(href='/signin') Sing In
      a.nav-btn.btn-log-in(href='/login') Login
      a.nav-btn.btn-help(href='#') Help
  