.order-bar.flex-align-justify
  ul
    li Ongoing-offers on Unlimited pizza
    li Ongoing-offers on pepperoni pizza
    li won prise on sharing recipe
    li special offer on two combo pizza
// above order-bar css inclued in header
.testimonial-Offer-container
  .testimonial-Offer-banner
    .slider.offer-banner.offer-banner-1
      a(href='')
        img.pizza-offfer-image(src='./../pizza images/offers/offer-2.PNG' alt='Offers on pizza at pizppy')
    .slider.offer-banner.offer-banner-2
      a(href='')
        img.pizza-offfer-image(src='./../pizza images/offers/offer-3.PNG' alt='Offers on pizza at pizppy')
    .slider.testimonial-container
      .testimonial.testimonial-1
        .testimonial-img-container
          img.testimonial-customer-img(src='./../pizza images/coustomers/customer-3.jpg' alt='customer reviwes')
          h4.testimonial-customer-name customer Name
        blockquote.testimonial-customer-review
          | Amazing app! Pizppy makes ordering pizza so easy and convenient.
          | The user interface is sleek, and the delivery is always on time.
          | The pizzas are delicious every single time!
