.main-content {
  overflow: scroll;
  box-shadow: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-items-box {
  padding: 2rem;
  margin-bottom: 3.2rem;
}

.type-heading-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.type-logo {
  width: 2.8rem;
  margin-left: 3rem;
}
.main-heading-veg {
  font-size: 2.8rem;
  text-indent: 2rem;
  color: #444;
}
.pizza-card {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-transform: capitalize;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #333;
  margin-bottom: 1.8rem;
}
.pizza-card-image-input {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-card-image {
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  transition: all 0.2s;
}
.pizza-card-image:hover {
  transform: scale(110%);
}
.select-input-quantity {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #333;
  color: #666;
}
.select-input-quantity:focus {
  outline: none;
  transition: all 0.3s;
}

.select-option {
  margin-bottom: 8.5rem;
}

.card-data-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.card-name-add-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card-item-name {
  font-size: 2.2rem;
  color: #444;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.pizza-info-link {
  text-decoration: none;
  color: rgb(105, 105, 255);
}
.pizza-info-link-icon {
  margin-top: 1rem;
}
.pizza-add-btn {
  width: 6rem;
  height: 3rem;
  font-size: 1.4rem;
  background-color: #ffffff;
  border: 1px solid rgb(105, 105, 255);
  color: rgb(105, 105, 255);
  border-radius: 5px;
}

.card-item-price {
  padding-left: 1rem;
  color: #444;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
del {
  color: #999;
  font-weight: 500;
}
.card-item-rating {
  padding-left: 1rem;
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: auto;
}
.card-item-details {
  padding-left: 1rem;
  font-size: 1.4rem;
  text-transform: none;
  margin-bottom: 3rem;
  color: #999;
  text-indent: 2rem;
}
